/*
Theme Name: VERSDEKO
Author: Ideaformus | Dizaino arkliukas | Minaja
Author URI: http://dizart.lt
Description: Dizaino Arkliukas - Sėkmingam inovacijų šuoliui
Version: 1.0
License: NON
License URI: --
Tags: private, design, inovation, dev, lithuania, dizart, vilnius
Text Domain: Karolis
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIYqWqhPBQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyCMISg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwJYtWqhPBQ.ttf) format('truetype');
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body.home {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  color: #6d6e70;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}
body.no-scroll {
  overflow-y: hidden;
}
@media only screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
body:not(.home) {
  padding-top: 150px;
}
body:not(.home) .header {
  background-color: rgba(255, 255, 255, 0.9);
}
body:not(.home) .header.scrolled .static {
  min-height: 60px;
}
@media (max-width: 992px) {
  body:not(.home) .header.scrolled .header-menu {
    top: 77px;
  }
  body:not(.home) .header.scrolled .header-menu.open {
    top: 77px;
  }
}
body:not(.home) .header .static {
  min-height: 76px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  transition: .5s;
}
body:not(.home) .header .static #menu-top-menu {
  margin: 0;
  margin-top: 5px;
}
body:not(.home) .header .static .qtranxs_widget ul.language-chooser {
  margin: 0;
}
body:not(.home) .header .static .qtranxs_widget ul li:first-child {
  margin-bottom: 8px;
}
@media (max-width: 992px) {
  body:not(.home) .header .static {
    justify-content: flex-start;
    align-items: flex-end;
  }
}
body:not(.home) .h-foot a,
body:not(.home) .h-foot span,
body:not(.home) .h-foot p,
body:not(.home) .h-foot strong {
  color: #151515 !important;
}
@media (max-width: 768px) {
  body:not(.home) .h-foot {
    text-align: center;
  }
  body:not(.home) .h-foot p {
    text-align: center !important;
  }
}
body:not(.home) .header .header-menu ul.header-menu-list li.menu-item.current-menu-item .custom-menu-item {
  border: 2px dashed #2e2e2e !important;
}
a {
  color: #6d6e70;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #6d6e70;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:focus {
  color: inherit;
  background: none;
  outline: none;
}
hr {
  max-width: 1025px;
  margin: 0 auto 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
.home .header .logo img {
  -ms-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
@media (max-width: 992px) {
  .home .header .header-menu ul.header-menu-list li.menu-item a .custom-menu-item {
    color: #2e2e2e;
  }
}
.home .header .header-menu-hamburger span {
  background: #fff;
}
.home .header.scrolled {
  padding-top: 0;
}
.home .header.scrolled .logo > img {
  transform: scale(0.7);
}
.home .header.scrolled > .container {
  padding-bottom: 0px !important;
}
.header {
  position: fixed;
  top: 0px;
  left: 0;
  padding-top: 25px;
  z-index: 9999;
  margin: 0;
  transition: .5s;
  width: 100%;
}
.header.scrolled {
  padding-top: 0;
}
.header.scrolled .logo > img {
  transform: scale(0.7);
}
.header.scrolled > .container {
  padding-bottom: 0px !important;
}
.header.scrolled .header-menu.open {
  height: calc(100vh - 76px);
}
.header > .container {
  padding-bottom: 15px !important;
  border-bottom: 1px solid #2e2e2e;
  transition: .5s;
}
.header .logo {
  display: block;
  background-size: contain;
}
.header .logo img {
  transition: .5s;
}
.header .header-menu-hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 45px;
  height: 45px;
  margin: 0;
  top: 19px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media only screen and (max-width: 991px) {
  .header .header-menu-hamburger {
    display: block;
  }
}
.header .header-menu-hamburger.open {
  overflow-y: auto;
}
.header .header-menu-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header .header-menu-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 18px;
}
.header .header-menu-hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header .header-menu-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header .header-menu-hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.header .header-menu-hamburger span:nth-child(1) {
  top: 10px;
}
.header .header-menu-hamburger span:nth-child(2),
.header .header-menu-hamburger span:nth-child(3) {
  top: 20px;
}
.header .header-menu-hamburger span:nth-child(4) {
  top: 30px;
}
.header .header-menu ul.header-menu-list li.menu-item {
  font-size: 14px;
  float: left;
}
@media (min-width: 993px) {
  .header .header-menu ul.header-menu-list li.menu-item:first-child .custom-menu-item {
    margin: 0 0;
  }
}
@media (min-width: 993px) {
  .header .header-menu ul.header-menu-list li.menu-item:last-child .custom-menu-item {
    margin: 0 0;
  }
}
.header .header-menu ul.header-menu-list li.menu-item .custom-menu-item {
  padding: 6px;
  border: 2px dashed transparent;
  margin: 0 25px;
  color: #2e2e2e;
  font-family: DINPro-light;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  letter-spacing: .2em;
}
.header .header-menu ul.header-menu-list li.menu-item .custom-menu-item:hover {
  border: 2px dashed #2e2e2e;
}
.header .header-menu ul.header-menu-list li.menu-item.current-menu-item .custom-menu-item {
  border: 2px dashed #ffffff;
}
@media only screen and (max-width: 991px) {
  .header .header-menu {
    visibility: hidden;
    z-index: 999;
    position: absolute;
    top: 117px;
    right: -33%;
    width: 33%;
    background: #faf9f2;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header .header-menu ul {
    display: block;
    padding: 15px 0;
    overflow-y: scroll;
    margin: 0;
  }
  .header .header-menu ul li {
    display: table;
    margin: 0 auto !important;
    width: 95%;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #fff;
  }
  .header .header-menu ul li:last-of-type {
    border-bottom: none;
  }
  .header .header-menu ul li a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header .header-menu ul li a:hover {
    color: #fff;
  }
  .header .header-menu.open {
    visibility: visible;
    right: 0;
    top: 117px;
    width: 100%;
    overflow-y: auto;
    height: 80%;
    height: calc(100vh - 92px);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header .header-menu ul.header-menu-list li.menu-item {
    float: none;
  }
}
.header .static {
  position: static;
}
@media (min-width: 1600px) {
  .header .container {
    padding: 0;
  }
}
.google-map-side {
  margin-bottom: 40px;
}
.google-map-side .google-map {
  width: 100%;
  height: 470px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (max-width: 991px) {
  .google-map-side .google-map {
    height: 340px;
  }
}
@media only screen and (max-width: 450px) {
  .google-map-side .google-map {
    height: 250px;
  }
}
.breadcrumbs {
  list-style: none;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs li.item-current {
  color: #b2d234;
}
.main-container {
  padding-bottom: 30px;
}
.main-container h1 {
  margin: 30px 0;
  font-weight: 300;
  font-size: 36px;
}
.main-container h2 {
  font-weight: 600;
  font-size: 18px;
}
.main-container .not-found {
  position: relative;
  text-align: center;
}
.main-container .not-found strong {
  font-size: 200px;
  color: rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 380px) {
  .main-container .not-found strong {
    font-size: 100px;
  }
}
.main-container .not-found p {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-size: 43px;
}
@media only screen and (max-width: 380px) {
  .main-container .not-found p {
    font-size: 20px;
  }
}
.to-v-container {
  display: table;
  width: 100%;
  height: 100%;
}
.to-v-container .to-v {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.footer {
  z-index: 70;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
}
.footer .container {
  padding: 20px 15px;
}
.footer .footer-left {
  float: left;
}
.footer .footer-left img {
  display: block;
  margin-bottom: 10px;
}
.footer .footer-right {
  float: right;
  padding: 10px;
}
.footer .footer-right a.footer-by {
  display: inline-block;
  font-weight: 700;
  padding: 5px 5px 5px 28px;
  background: url("assets/images/by.svg") no-repeat left center;
  background-size: 24px;
}
@media only screen and (max-width: 550px) {
  .footer {
    height: 133px;
    text-align: center;
  }
  .footer .footer-left {
    float: none;
  }
  .footer .footer-left img {
    display: block;
    margin: 0 auto 10px;
  }
  .footer .footer-right {
    float: none;
    padding: 25px;
  }
}
.usecookie-container {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.8);
}
.usecookie-container .usecookie-info {
  float: left;
  width: 85%;
}
@media only screen and (max-width: 500px) {
  .usecookie-container .usecookie-info {
    width: 100%;
  }
}
.usecookie-container .usecookie-info p {
  color: #fff;
  font-size: 14px;
}
.usecookie-container .usecookie-agree {
  float: left;
  width: 15%;
}
@media only screen and (max-width: 500px) {
  .usecookie-container .usecookie-agree {
    width: 100%;
  }
}
.usecookie-container a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.usecookie-container a.set-usecookie {
  display: block;
  float: right;
  padding: 15px 0;
  text-transform: uppercase;
}
.check_feature-container {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(138, 54, 54, 0.95);
}
@media only screen and (max-width: 900px) {
  .check_feature-container {
    position: absolute;
    height: auto;
    min-height: 100%;
  }
}
.check_feature-container .check_feature-close {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
}
.check_feature-container .check_feature-close:hover {
  opacity: 0.6;
}
.check_feature-container .description-container {
  display: table;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .check_feature-container .description-container {
    padding: 80px 0;
  }
}
.check_feature-container .description-container .description {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.check_feature-container .description-container .description .description-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.check_feature-container .description-container .description .description-content {
  padding: 15px 0 40px;
}
.check_feature-container .description-container .description .description-content p {
  font-size: 20px;
}
.check_feature-container .description-container .description .description-content p.please {
  font-size: 16px;
}
.check_feature-container .description-container .description .browsers-container .browsers-item {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 900px) {
  .check_feature-container .description-container .description .browsers-container .browsers-item {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-image {
  text-align: center;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-image img {
  width: 40%;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .check_feature-container .description-container .description .browsers-container .browsers-item .browser-image img {
    width: 20%;
  }
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-title {
  padding: 15px 0;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-bottom .browser-download {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-bottom .browser-download:hover {
  opacity: 0.6;
}
#fullpage .section {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#fullpage .section .bg-filter {
  position: absolute;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.01) 48%, #000000 100%);
  background-image: -webkit-linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.01) 48%, #000000 100%);
  background-image: -ms-linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 47%, rgba(0, 0, 0, 0.01) 48%, #000000 100%);
  width: 100%;
  height: 100%;
  opacity: .5;
  z-index: 1;
}
#fullpage .section .section-content {
  position: relative;
  z-index: 2;
}
#fullpage .block-content {
  max-width: 520px;
  width: 100%;
  display: block;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
}
#fullpage .block-content h2 {
  line-height: 10px;
}
@media (max-width: 540px) {
  #fullpage .block-content h2 {
    font-size: 45px !important;
    line-height: 0px;
  }
  #fullpage .block-content h2 * {
    font-size: inherit !important;
  }
}
#fullpage .block-content h3 {
  letter-spacing: 16px;
}
@media (max-width: 540px) {
  #fullpage .block-content h3 {
    font-size: 18px !important;
  }
  #fullpage .block-content h3 * {
    font-size: inherit !important;
  }
}
#fullpage .block-content p {
  letter-spacing: .1em;
  margin-top: 50px;
}
@media (max-width: 400px) {
  #fullpage .block-content p {
    margin-top: 25px;
  }
}
.btn {
  padding: 10px 30px;
  color: #2e2e2e;
}
.btn:hover {
  border: 2px dashed #2e2e2e;
  color: #2e2e2e;
}
.home-btn {
  display: block;
  text-align: center;
  margin-top: 40px;
}
.home-btn .btn {
  border: 2px dashed #ffffff;
  opacity: 1;
  color: #fff;
}
.home-btn .btn:hover {
  opacity: .75;
}
.home-footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  color: #ffffff;
  width: 100%;
  z-index: 10;
}
.home-footer p {
  margin: 0;
}
.home-footer a {
  text-decoration: none;
  color: inherit;
}
.language-chooser {
  padding: 0;
}
.qtranxs_widget ul.language-chooser {
  margin: 1.5em 0;
}
.qtranxs_widget ul.language-chooser .active > a {
  border: 2px dashed #2e2e2e;
  color: #2e2e2e;
  font-size: 12px;
  font-family: DINPro-Bold;
}
.qtranxs_widget ul.language-chooser a {
  font-size: 12px;
  color: #2e2e2e;
  font-family: DINPro-Light;
}
.qtranxs_flag_and_text {
  padding-left: 0px !important;
  padding: 6px !important;
  border: 2px dashed transparent;
  color: #ffffff;
}
.qtranxs_flag_and_text:hover {
  border: 2px dashed #2e2e2e;
  color: #2e2e2e;
}
.qtranxs_widget ul li:first-child {
  margin-bottom: 20px;
  display: inline-block;
}
.home .header > .container {
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
}
.home .header .header-menu ul.header-menu-list li.menu-item .custom-menu-item {
  color: #fff;
}
.home .header .header-menu ul.header-menu-list li.menu-item .custom-menu-item:hover {
  border: 2px dashed #ffffff;
}
.home .qtranxs_widget ul.language-chooser a {
  color: #ffffff;
}
.home .qtranxs_widget ul.language-chooser a:hover {
  border: 2px dashed #ffffff;
}
@media (max-width: 992px) {
  .home .qtranxs_widget ul.language-chooser a {
    color: #2e2e2e;
  }
}
.home .qtranxs_widget ul.language-chooser .active a {
  border: 2px dashed #ffffff;
}
@media (max-width: 992px) {
  .home .qtranxs_widget ul.language-chooser .active a {
    border: 2px dashed #2e2e2e;
  }
}
.home .h-foot a,
.home .h-foot p,
.home .h-foot span,
.home .h-foot strong {
  color: #fff !important;
}
@media (max-width: 768px) {
  .home .h-foot {
    text-align: center;
  }
  .home .h-foot p {
    text-align: center !important;
  }
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
/* 
  inner news
*/
.title-holder {
  position: absolute;
  bottom: 25px;
  left: 25px;
  right: 25px;
}
h1.news-title {
  font-family: Bira;
  font-size: 80px;
  font-size: 20px;
  color: #fff;
}
@media screen and (min-width: 320px) {
  h1.news-title {
    font-size: calc(20px  +  60  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  h1.news-title {
    font-size: 80px;
  }
}
.date {
  font-family: Lato;
  font-size: 17px;
  line-height: 29px;
  color: #606060;
  text-transform: capitalize;
}
.news-info {
  margin-top: 40px;
  position: relative;
}
.news-info h2 {
  font-family: DINNextCYR-Medium;
  font-size: 33.28px;
  font-size: 20px;
  color: #442f2f;
  letter-spacing: .3em;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .news-info h2 {
    font-size: calc(20px  +  13.28  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  .news-info h2 {
    font-size: 33.28px;
  }
}
.news-info:before {
  content: '';
  position: absolute;
  top: 15px;
  left: -145px;
  width: 130px;
  height: 1px;
  background-color: #2e2e2e;
}
article p {
  max-width: 1025px;
  font-size: 18px;
  font-size: 14px;
  font-family: Lato;
  line-height: 29px;
  color: #606060;
}
@media screen and (min-width: 320px) {
  article p {
    font-size: calc(14px  +  4  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  article p {
    font-size: 18px;
  }
}
.news-gallery {
  margin-top: 80px;
}
.news-gallery .images {
  margin-top: 30px;
  max-width: 1010px;
}
.news-gallery .images > a {
  margin-right: 26px;
}
.news-gallery .images > a img {
  margin-bottom: 26px;
  max-width: 212px;
}
@media (max-width: 768px) {
  .news-gallery .images > a {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .news-gallery .images {
    margin: 0 auto;
    text-align: center;
  }
}
.label {
  font-family: DINNextCYR-Medium;
  font-size: 28px;
  letter-spacing: .3em;
  color: #442f2f;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .label {
    text-align: center;
    margin-bottom: 25px;
  }
}
.paginated-link {
  font-family: Raleway;
  font-size: 18px;
  color: #442f2f;
  margin: 10px 0;
  display: inline-block;
}
.container {
  overflow-x: hidden;
}
.content .text {
  max-width: 810px;
  margin: 0 auto;
  padding-bottom: 70px;
}
.news-item {
  height: 100%;
  margin-bottom: 25px;
}
.first a > .news-item {
  min-height: 575px;
  background-color: #2e2e2e;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: table;
  width: 100%;
}
.first a > .news-item > div.text {
  position: relative;
  z-index: 2;
  display: table-cell;
  vertical-align: bottom;
  border-bottom: 70px solid transparent;
  border-left: 50px solid transparent;
  width: 100%;
}
.first a > .news-item > div.text .title {
  font-family: Bira;
  color: #fff;
  font-size: 80px;
  font-size: 35px;
}
@media screen and (min-width: 320px) {
  .first a > .news-item > div.text .title {
    font-size: calc(35px  +  45  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  .first a > .news-item > div.text .title {
    font-size: 80px;
  }
}
.first a > .news-item > div.text p {
  max-width: 450px;
  font-family: Lato;
  color: #fff;
  font-size: 20px;
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .first a > .news-item > div.text p {
    font-size: calc(14px  +  6  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  .first a > .news-item > div.text p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .first a > .news-item > div.text {
    border-bottom: 25px solid transparent;
    border-left: 15px solid transparent;
  }
}
.first a > .news-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  opacity: .43;
}
.news {
  position: relative;
  display: inline-block;
  margin-bottom: 25px;
  width: 100%;
  background-color: rgba(46, 46, 46, 0.012);
  box-shadow: 7.431px 6.691px 18px 0px rgba(46, 46, 46, 0.16);
}
.news.right {
  background-color: rgba(46, 46, 46, 0.012);
  box-shadow: -7.314px 6.82px 18px 0px rgba(46, 46, 46, 0.16);
}
.news .img {
  display: inline-block;
  position: relative;
}
.news .img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  background-image: -webkit-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  background-image: -ms-linear-gradient(90deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
  opacity: .43;
}
.news .text {
  display: table;
  width: 100%;
  min-height: 332px;
  padding: 10px 80px;
}
.news .text > div {
  display: table-cell;
  vertical-align: middle;
}
.news .text .title {
  font-family: Bira;
  color: #2e2e2e;
  font-size: 80px;
  font-size: 35px;
}
@media screen and (min-width: 320px) {
  .news .text .title {
    font-size: calc(35px  +  45  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  .news .text .title {
    font-size: 80px;
  }
}
.news .text p {
  font-family: Lato;
  color: #606060;
  font-size: 14px;
}
@media screen and (min-width: 320px) {
  .news .text p {
    font-size: calc(14px  +  6  * ((100vw -  320px ) / 602 ));
  }
}
@media screen and (min-width: 922px) {
  .news .text p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .news .text {
    padding: 10px 15px;
  }
}
.ajax-btn {
  margin: 0 auto;
  border: 2px dashed #2e2e2e;
  padding: 0px 50px;
  height: 42px;
  font-family: DINNextCYR-Regular;
  font-size: 20px;
  line-height: 42px;
}
.ajax-btn span {
  display: inline-block;
  vertical-align: middle;
}
.ajax-btn:hover {
  opacity: .7;
}
.btn-holder {
  margin-top: 40px;
}
.loader {
  max-width: 35px;
}
#content {
  margin-top: 25px;
}
.c-separator {
  position: relative;
  margin: 0 auto;
  max-width: 358px;
  border-top: 2px solid #e5c7b3;
}
.c-separator:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 8px 0 8px;
  border-color: #2e2e2e transparent transparent transparent;
  top: 0;
  left: 50%;
  left: calc(50% - 8px);
}
.service-item {
  display: table;
  width: 100%;
  height: 200px;
  text-align: center;
}
.service-item > div {
  display: table-cell;
  vertical-align: middle;
}
.service-item .icon-wrap {
  margin-bottom: 30px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-item .icon-label {
  font-family: Lato;
  font-weight: 400;
  font-size: 17px;
  color: #442f2f;
}
#service-furniture {
  padding: 60px 0;
}
.galleries {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 992px) {
  .galleries {
    justify-content: center;
  }
}
.galleries .gallery-item {
  margin-bottom: 57px;
  position: relative;
}
.galleries .gallery-item img {
  background-color: #e5c7b3;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.17);
  width: 386px;
  height: 235px;
}
.galleries .gallery-item:after {
  content: '';
  position: absolute;
  top: 13px;
  left: 13px;
  border: 1px solid #e5c7b3;
  width: 92%;
  width: calc(100% - 26px);
  height: 88%;
  height: calc(100% - 28px);
  pointer-events: none;
}
.galleries .gallery-item .gallery-title {
  font-size: 18px;
  font-family: "Bangla";
  color: #442f2f;
  font-weight: bold;
  line-height: 1.442;
  text-align: left;
  padding: 28px 38px;
  max-width: 350px;
}
.galleries .gallery-item .gallery-btn {
  background-color: #e5c7b3;
  border: 1px solid #e5c7b3;
  width: 147px;
  height: 34px;
  font-size: 15.322px;
  font-family: "Lato";
  color: #442f2f;
  line-height: 1.697;
  text-align: left;
  display: inline-block;
  text-align: center;
  padding: 5px 0;
  padding-bottom: 9px;
  float: right;
  margin-right: 40px;
  position: relative;
  z-index: 3;
  transition: .3s;
  font-weight: 600;
}
.galleries .gallery-item .gallery-btn:hover {
  background-color: #fff;
}
@media (max-width: 400px) {
  .galleries .gallery-item {
    margin-right: 20px;
    margin-left: 20px;
  }
}
@media screen and (min-width: 767px) and (max-width: 992px) {
  .galleries .gallery-item:nth-child(odd) {
    margin-right: 10px;
  }
}
#Galleries {
  padding: 60px 0;
  padding-bottom: 0;
}
.google-map-style2 {
  height: 323px;
}
.blocks .block {
  line-height: 26px;
}
.blocks .block p {
  margin: 0;
  font-size: 15px;
}
@media (max-width: 768px) {
  .blocks .pl-0 {
    padding-left: 15px !important;
  }
}
.pr-0 {
  padding-right: 0;
}
.pl-0 {
  padding-left: 0;
}
.contacts {
  padding-bottom: 100px;
}
.contacts .label {
  margin-bottom: 25px;
  margin-top: 35px;
}
.contacts .label span {
  width: 100%;
  display: block;
  font-size: 14.421px;
  font-family: "Lato";
  color: #2e2e2e;
  line-height: 1.803;
  text-align: left;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
}
@media (max-width: 768px) {
  .contacts {
    padding: 0 15px;
  }
}
.contact-form label {
  font-family: Lato;
  font-size: 16px;
  color: #2e2e2e;
}
.contact-form input.form-field {
  height: 42px;
  padding: 5px;
}
.contact-form .form-field {
  border: 1px solid #000;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  margin-bottom: 20px;
}
.contact-form .form-field:focus {
  outline: none;
}
.contact-form textarea {
  resize: none;
  min-height: 131px;
  padding: 5px;
}
.contact-form .submit-form {
  min-width: 290px;
  color: #fff;
  background-color: #362f2d;
  padding: 15px;
  border: none;
}
.line {
  border-top: 1px solid #2e2e2e;
}
.dekstop-lang {
  display: block;
  position: relative !important;
}
@media (max-width: 992px) {
  .dekstop-lang {
    display: none !important;
  }
}
.dekstop-lang .qtranxs_widget ul.language-chooser {
  position: absolute;
  left: 10px;
  width: 200px;
  top: 50%;
}
.mobile-lang {
  display: none;
}
@media (max-width: 992px) {
  .header .logo {
    display: inline-block;
  }
  .mobile-lang {
    display: inline-block;
    width: 100%;
  }
  .mobile-lang ul {
    text-align: center;
  }
  .mobile-lang ul li {
    display: inline-table !important;
    margin: 0 25px !important;
    max-width: 50px;
    text-align: center;
    height: 35px;
    border-bottom: 2px solid #fff;
  }
}
@media (max-height: 640px) {
  .fp-tableCell {
    margin-bottom: 25px;
  }
  .fp-tableCell .section .section-content {
    margin-top: 75px;
  }
  .fp-tableCell .home-btn {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
