/*
Theme Name: VERSDEKO
Author: Ideaformus | Dizaino arkliukas | Minaja
Author URI: http://dizart.lt
Description: Dizaino Arkliukas - Sėkmingam inovacijų šuoliui
Version: 1.0
License: NON
License URI: --
Tags: private, design, inovation, dev, lithuania, dizart, vilnius
Text Domain: Karolis
*/
//import fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&subset=latin-ext');
//CSS3 library extend
@import "assets/libs/css/elements";
// images path
@url: "assets/images";
//main colors
@green: #b2d234;
@grey: #6d6e70;

.fluid-type(@property, @min-vw, @max-vw, @min-size, @max-size) {

    @{property}: @min-size;

    @media screen and (min-width: @min-vw) {
        @{property}: calc( @min-size ~" + " unit(@max-size - @min-size) ~" * ((100vw - " @min-vw ~") /" unit(@max-vw - @min-vw) ~")" );
    }

    @media screen and (min-width: @max-vw) {
        @{property}: @max-size;
    }

}
html, body.home {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    color: @grey;
    font-family: 'Open Sans', sans-serif;
    background: #fff; 
    &.no-scroll {
        overflow-y: hidden;
    }
    @media only screen and (max-width: 991px) {
        overflow-x: hidden;
    }
    &:not(.home){
        padding-top: 150px;
        .header{
            background-color: rgba(255,255,255,.9);
            &.scrolled{
                .static{
                    min-height: 60px;
                }
                @media(max-width:992px){
                    .header-menu{
                        top: 77px;
                        &.open{
                            top: 77px;
                        }
                    }
                }
            }
            .static{
                min-height: 76px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                transition: .5s;
                #menu-top-menu{
                    margin: 0;
                    margin-top: 5px;
                }
                .qtranxs_widget ul.language-chooser{
                    margin: 0;
                }
                .qtranxs_widget ul li:first-child{
                    margin-bottom: 8px;
                }
                @media(max-width:992px){
                    justify-content: flex-start;
                    align-items: flex-end;
                }
            }
        }
        .h-foot{
            a, span, p, strong{
                color: #151515 !important;
            }
            @media(max-width: 768px){
                text-align: center;
                p{
                    text-align: center !important;
                }
            }
        }
        .header .header-menu ul.header-menu-list li.menu-item.current-menu-item .custom-menu-item{
            border:2px dashed #2e2e2e !important;
        }
    }
}

a {
    color: @grey;
    font-weight: normal;
    text-decoration: none;
    .transition();
    &:hover {
        color: @grey;
        .transition();
    }
    &:focus {
        color: inherit;
        background: none;
        outline: none;
    }
}
hr{
    max-width: 1025px;
    margin: 0 auto 0 0;
}
img {
    max-width: 100%;
    height: auto;
}
.home{
    .header{
        .logo{
            img{
                -ms-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
        .header-menu ul.header-menu-list li.menu-item a .custom-menu-item{
            @media(max-width:992px){
                color: #2e2e2e;
            }
        }
        .header-menu-hamburger span{
            background: #fff;
        }
        &.scrolled{
            .logo{
                >img{
                    transform: scale(.7);
                }
            }
            > .container{
                padding-bottom: 0px !important;
            }
            padding-top: 0;
        }
    }

}
.header {
    position: fixed;
    top:0px;
    left:0;
    padding-top:25px;
    z-index: 9999;
    margin: 0;
    transition: .5s;
    width: 100%;
    &.scrolled{
        .logo{
            >img{
                transform: scale(.7);
            }
        }
        > .container{
            padding-bottom: 0px !important;
        }
        padding-top: 0;
        .header-menu.open{
            height: calc(100vh - 76px);
        }
    }
    > .container{
        padding-bottom: 15px !important;
        border-bottom: 1px solid #2e2e2e;
        transition: .5s;
    }
    .logo {
        display: block;
        background-size: contain;
        img{
            transition: .5s;
        }
    }
    .header-menu-hamburger {
        display: none;
        cursor: pointer;
        position: relative;
        width: 45px;
        height: 45px;
        margin: 0;
        top: 19px;
        float: right;
        .rotation(0deg);
        .transition(0.5s);
        @media only screen and (max-width: 991px) {
            display: block;
        }
        &.open {
            overflow-y: auto;
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    .rotation(45deg);
                    top: 18px;
                }
                &:nth-child(3) {
                    top: 18px;
                    .rotation(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
        span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background: #000;
            .rounded(9px);
            .opacity(1);
            .rotation(0deg);
            .transition(0.25s);
            &:nth-child(1) {
                top: 10px;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 20px;
            }
            &:nth-child(4) {
                top: 30px;
            }
        }
    }
    .header-menu {

        ul.header-menu-list {
            li.menu-item {
                font-size: 14px;
                &:first-child{
                    .custom-menu-item{
                        @media(min-width:993px){
                            margin:0 0;
                        }
                    }
                }
                &:last-child{
                    .custom-menu-item{
                        @media(min-width:993px){
                            margin:0 0;
                        }
                    }
                }
                float: left;
                .custom-menu-item{
                    padding: 6px;
                    border: 2px dashed transparent;
                    margin: 0 25px;
                    color: #2e2e2e;
                    font-family: DINPro-light;
                    text-transform: uppercase;
                    .transition();
                    letter-spacing:.2em;
                    &:hover{
                        border:2px dashed #2e2e2e;
                    }
                }
                &.current-menu-item{
                    .custom-menu-item{
                        border:2px dashed #ffffff;
                    }
                } 
            }
        }
        @media only screen and (max-width: 991px) {
            visibility: hidden;
            z-index: 999;
            position: absolute;
            top: 117px;
            right: -33%;
            width: 33%;
            background: #faf9f2;
            .transition();
            ul {
                display: block;
                padding: 15px 0;
                overflow-y: scroll;
                margin: 0;
                li {
                    display: table;
                    margin: 0 auto !important;
                    width: 95%;
                    text-align: center;
                    height: 50px;
                    border-bottom: 2px solid #fff;
                    &:last-of-type {
                        border-bottom: none;
                    }
                    a {
                        display: table-cell;
                        vertical-align: middle;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            &.open {
                visibility: visible;
                right: 0;
                top: 117px;
                width: 100%;
                overflow-y: auto;
                height: 80%;
                height: calc(100vh - 92px);
                .transition();
            }
            ul.header-menu-list {
                li.menu-item {
                    float: none;
                }
            }
        }
    }
    // fixes
    .static {
        position: static;
    }
    @media(min-width:1600px){
        .container{
            padding:0;
        }
    }
}

// Contacts map
.google-map-side {
    margin-bottom: 40px;
    .google-map {
        width: 100%;
        height: 470px;
        .rounded(4px);
        @media only screen and (max-width: 991px) {
            height: 340px;
        }
        @media only screen and (max-width: 450px) {
            height: 250px;
        }
    }
}

// Breadcrumbs
.breadcrumbs {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 10px;
        &.item-current {
            color: @green;
        }
    }
}

// main-container
.main-container {
    padding-bottom: 30px;
    h1 {
        margin: 30px 0;
        font-weight: 300;
        font-size: 36px;
    }
    h2 {
        font-weight: 600;
        font-size: 18px;
    }
    // 404 page not found style
    .not-found {
        position: relative;
        text-align: center;
        strong {
            font-size: 200px;
            color: rgba(0, 0, 0, 0.15);
            @media only screen and (max-width: 380px) {
                font-size: 100px;
            }
        }
        p {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            font-size: 43px;
            @media only screen and (max-width: 380px) {
                font-size: 20px;
            }
        }
    }
}
//vertival align
.to-v-container {
    display: table;
    width: 100%;
    height: 100%;
    .to-v {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
}

// FOOTER
.footer {
    z-index: 70;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    .container {
        padding: 20px 15px;
    }
    .footer-left {
        float: left;
        img {
            display: block;
            margin-bottom: 10px;
        }
    }
    .footer-right {
        float: right;
        padding: 10px;
        a.footer-by {
            display: inline-block;
            font-weight: 700;
            padding: 5px 5px 5px 28px;
            background: url("@{url}/by.svg") no-repeat left center;
            background-size: 24px;
        }
    }
    @media only screen and (max-width: 550px) {
        height: 133px;
        text-align: center;
        .footer-left {
            float: none;
            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
        .footer-right {
            float: none;
            padding: 25px;
        }
    }
}

//usecookie
.usecookie-container {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.8);
    .usecookie-info {
        float: left;
        width: 85%;
        @media only screen and (max-width: 500px) {
            width: 100%;
        }
        p {
            color: #fff;
            font-size: 14px;
        }
    }
    .usecookie-agree {
        float: left;
        width: 15%;
        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        &.set-usecookie {
            display: block;
            float: right;
            padding: 15px 0;
            text-transform: uppercase;
        }
    }
}

//check future
.check_feature-container {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(138, 54, 54, 0.95);
    @media only screen and (max-width: 900px) {
        position: absolute;
        height: auto;
        min-height: 100%;
    }
    .check_feature-close {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        &:hover {
            opacity: 0.6;
        }
    }
    .description-container {
        display: table;
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 600px) {
            padding: 80px 0;
        }
        .description {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            .description-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 30px;
            }
            .description-content {
                padding: 15px 0 40px;
                p {
                    font-size: 20px;
                    &.please {
                        font-size: 16px;
                    }
                }
            }
            .browsers-container {
                .browsers-item {
                    float: left;
                    width: 20%;
                    @media only screen and (max-width: 900px) {
                        float: none;
                        width: 100%;
                        padding-bottom: 30px;
                    }
                    .browser-image {
                        text-align: center;
                        img {
                            width: 40%;
                            height: auto;
                            @media only screen and (max-width: 900px) {
                                width: 20%;
                            }
                        }
                    }
                    .browser-title {
                        padding: 15px 0;
                    }
                    .browser-bottom {
                        .browser-download {
                            display: inline-block;
                            padding: 5px 20px;
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 700;
                            border: 2px solid #fff;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}

#fullpage{
    .section{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .bg-filter{
            position: absolute;
            top: 0;
            left: 0;
            background-image: -moz-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.01) 48%, rgb(0,0,0) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.01) 48%, rgb(0,0,0) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(0,0,0) 0%, rgba(0,0,0,0) 47%, rgba(0,0,0,0.01) 48%, rgb(0,0,0) 100%);
            width: 100%;
            height: 100%;
            opacity: .5;
            z-index: 1;
        }
        .section-content{
            position: relative;
            z-index: 2;
        }

    }
    .block-content{
        max-width: 520px;
        width: 100%;
        display: block;
        margin: 0 auto;
        color: #fff;
        padding: 10px;
        h2{
            line-height: 10px;
            @media(max-width: 540px){
                font-size: 45px !important;
                line-height: 0px;
                * {
                    font-size: inherit !important;
                }
            }
        }
        h3{
            letter-spacing: 16px;
            @media(max-width: 540px){
                font-size: 18px !important;
                * {
                    font-size: inherit !important;
                }
            }
        }
        p{
            letter-spacing: .1em;
            margin-top: 50px;
            @media(max-width:400px){
                margin-top: 25px;
            }
        }
    }
}
.btn{
    padding: 10px 30px;
    color: #2e2e2e;
    &:hover{
        border:2px dashed #2e2e2e;
        color: #2e2e2e;
    }

}
.home-btn{
    display: block;
    text-align: center;
    margin-top: 40px;
    .btn{
        border:2px dashed #ffffff;
        opacity: 1;
        color: #fff;
        &:hover{
            opacity:.75;
        }
    }
}
.home-footer{
    position: absolute;
    bottom:40px;
    left: 0;
    color: #ffffff;
    width: 100%;
    z-index: 10;
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}
.language-chooser{
    padding:0;
}
.qtranxs_widget ul.language-chooser{
    margin: 1.5em 0;
    .active{
        > a{
            border:2px dashed #2e2e2e;
            color: #2e2e2e;
            font-size: 12px;
            font-family: DINPro-Bold;
        }
    }
    a{
        font-size: 12px;
        color: #2e2e2e;
        font-family: DINPro-Light;
    }
}

.qtranxs_flag_and_text{
    padding-left:0px !important;
    padding: 6px !important;
    border:2px dashed transparent;
    color: #ffffff;
    &:hover{
        border:2px dashed #2e2e2e;
        color: #2e2e2e;
    }
}
.qtranxs_widget ul li{
    &:first-child{
        margin-bottom: 20px;
        display: inline-block;
    }
}
.home{
    .header{
        > .container{
            padding-bottom: 15px;
            border-bottom: 1px solid transparent;
        }
    }
    .header .header-menu{
        ul.header-menu-list{
            li.menu-item{
                .custom-menu-item{
                    color: #fff;
                    &:hover{
                        border: 2px dashed #ffffff;
                    }
                }
            }
        }
    }
    .qtranxs_widget ul.language-chooser{
        a{
            color: #ffffff;
            &:hover{
                border: 2px dashed #ffffff;
            }
            @media(max-width:992px){
                color: #2e2e2e;
            }
        }
        .active{
            a{
                border: 2px dashed #ffffff;
                @media(max-width:992px){
                    border: 2px dashed #2e2e2e;
                }
            }
        }
    }
    .h-foot{
        a, p, span, strong{
            color: #fff !important;
        }

        @media(max-width: 768px){
            text-align: center;
            p{
                text-align: center !important;
            }
        }
    }
}
.px-0{
    padding-left: 0;
    padding-right: 0;
}

/* 
  inner news
*/
.title-holder{
    position: absolute;
    bottom: 25px;
    left: 25px;
    right: 25px;
}
h1.news-title{
    font-family: Bira;
    font-size: 80px;
    .fluid-type(font-size,320px,922px,20px, 80px);
    color: #fff;
}
.date{
    font-family: Lato;
    font-size: 17px;
    line-height: 29px;
    color: #606060;
    text-transform: capitalize;
}
.news-info{
    margin-top: 40px;
    position: relative;
    h2{
        font-family: DINNextCYR-Medium;
        font-size: 33.28px;
        .fluid-type(font-size,320px,922px,20px, 33.28px);
        color: #442f2f;
        letter-spacing: .3em;
        text-transform: uppercase;
        margin: 0;
    }
    &:before{
        content: '';
        position: absolute;
        top:15px;
        left:-145px;
        width: 130px;
        height: 1px;
        background-color: #2e2e2e;
    }
}
article{
    p{
        max-width: 1025px;
        font-size: 18px;
        .fluid-type(font-size,320px,922px,14px, 18px);
        font-family: Lato;
        line-height: 29px;
        color: #606060;
    }
}
.news-gallery{
    margin-top: 80px;
    .images{
        margin-top: 30px;
        max-width: 1010px;
        > a{
            margin-right: 26px;
            img{
                margin-bottom: 26px;
                max-width: 212px;
            }
            @media(max-width: 768px){
                margin:0 auto;
            }
        }
        @media(max-width: 768px){
            margin:0 auto;
            text-align: center;
        }
    }
}
.label{
    font-family: DINNextCYR-Medium;
    font-size: 28px;
    letter-spacing: .3em;
    color: #442f2f;

    text-transform: uppercase;
    @media(max-width: 768px){
        text-align: center;
        margin-bottom:25px;
    }
}

.paginated-link{
    font-family: Raleway;
    font-size: 18px;
    color: #442f2f;
    margin: 10px 0;
    display: inline-block;
}
.container{
    overflow-x: hidden;
}
.content{
    .text{
        max-width: 810px;
        margin: 0 auto;
        padding-bottom: 70px;
    }
}
.news-item{
    height: 100%;
    margin-bottom: 25px;
}
.first{
    a > .news-item{
        min-height: 575px;
        background-color: #2e2e2e;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: table;
        width: 100%;
        > div.text{
            position: relative;
            z-index: 2;
            display: table-cell;
            vertical-align: bottom;
            border-bottom: 70px solid transparent;
            border-left: 50px solid transparent;
            width: 100%;
            .title{
                font-family: Bira;
                color: #fff;
                font-size: 80px;
                .fluid-type(font-size,320px,922px,35px, 80px);
            }
            p{
                max-width: 450px;
                font-family: Lato;
                color: #fff;
                font-size:20px;
                .fluid-type(font-size,320px,922px,14px, 20px);
            }
            @media(max-width:768px){
                border-bottom: 25px solid transparent;
                border-left: 15px solid transparent;
            }
        }
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            opacity: .43;

        }
    }
}
.news{
    position: relative;
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
    background-color: rgba(46, 46, 46, 0.012);
    box-shadow: 7.431px 6.691px 18px 0px rgba(46, 46, 46, 0.16);
    &.right{
        background-color: rgba(46, 46, 46, 0.012);
        box-shadow: -7.314px 6.82px 18px 0px rgba(46, 46, 46, 0.16);
    }
    .img{
        display: inline-block;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgba(46,46,46,0) 100%);
            opacity: .43;

        }
    }
    .text{
        display: table;
        width: 100%;
        min-height: 332px;
        padding: 10px 80px;
        >div{
            display: table-cell;
            vertical-align: middle;
        }
        .title{
            font-family: Bira;
            color: #2e2e2e;
            font-size: 80px;
            .fluid-type(font-size,320px,922px,35px, 80px);
        }
        p{
            font-family: Lato;
            color: #606060;
            .fluid-type(font-size,320px,922px,14px, 20px);
        }
        @media(max-width: 768px){
            padding:10px 15px;
        }
    }

}
.ajax-btn{
    margin: 0 auto;
    border: 2px dashed #2e2e2e;
    padding: 0px 50px;
    height: 42px;
    font-family: DINNextCYR-Regular;
    font-size: 20px;
    line-height: 42px;
    span{
        display: inline-block;
        vertical-align: middle;
    }
    &:hover{
        opacity: .7;
    }
}
.btn-holder{
    margin-top: 40px;
}
.loader{
    max-width: 35px;
}
#content{
    margin-top: 25px;
}
.c-separator{
    position: relative;
    margin: 0 auto;
    max-width: 358px;
    border-top:2px solid #e5c7b3;
    &:after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 9px 8px 0 8px;
        border-color: #2e2e2e transparent transparent transparent;
        top:0;
        left:50%;
        left: calc( 50% - 8px);
    }
}
.service-item{
    display: table;
    width: 100%;
    height: 200px;
    text-align: center;
    >div{
        display: table-cell;
        vertical-align: middle;
    }
    .icon-wrap{
        margin-bottom: 30px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-label{
        font-family: Lato;
        font-weight: 400;
        font-size:17px;
        color: #442f2f;
    }
}
#service-furniture{
    padding:60px 0;
}
.galleries{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    @media(max-width:992px){
        justify-content: center;
    }
    .gallery-item{
        margin-bottom: 57px;
        position: relative;
        img{
            background-color: rgb(229, 199, 179);
            box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.17);
            width: 386px;
            height: 235px;
        }
        &:after{
            content:'';
            position: absolute;
            top:13px;
            left:13px;
            border: 1px solid #e5c7b3;
            width: 92%;
            width: calc(100% - 26px);
            height: 88%;
            height: calc(100% - 28px);
            pointer-events: none;
        }
        .gallery-title{
            font-size: 18px;
            font-family: "Bangla";
            color: rgb(68, 47, 47);
            font-weight: bold;
            line-height: 1.442;
            text-align: left;
            padding: 28px 38px;
            max-width: 350px;
        }
        .gallery-btn{
            background-color: rgb(229, 199, 179);
            border: 1px solid rgb(229, 199, 179);
            width: 147px;
            height: 34px;
            font-size: 15.322px;
            font-family: "Lato";
            color: rgb(68, 47, 47);
            line-height: 1.697;
            text-align: left;
            display: inline-block;
            text-align: center;
            padding: 5px 0;
            padding-bottom: 9px;
            float: right;
            margin-right: 40px;
            position: relative;
            z-index: 3;
            transition: .3s;
            font-weight: 600;
            &:hover{
                background-color: #fff;
            }
        }
        @media(max-width: 400px){
            margin-right: 20px;
            margin-left: 20px;
        }
        &:nth-child(odd){
            @media screen and (min-width: 767px) and (max-width: 992px){
               margin-right: 10px; 
            }
        }
    }
}
#Galleries{
    padding: 60px 0;
    padding-bottom: 0;
}
.google-map-style2{
    height: 323px;
}
.blocks{
    .block{
        p{
            margin: 0;
            font-size: 15px;
        }
        line-height: 26px;
    }
    @media(max-width: 768px){
        .pl-0{
            padding-left: 15px !important;
        }
    }
}
.pr-0{
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}
.contacts{
    padding-bottom: 100px;
    .label{
        margin-bottom: 25px;
        margin-top: 35px;
        span{
            width: 100%;
            display: block;
            font-size: 14.421px;
            font-family: "Lato";
            color: rgb(46, 46, 46);
            line-height: 1.803;
            text-align: left;
            letter-spacing: normal;
            text-transform: none;
            font-weight: 400;
        }
    }
    @media(max-width: 768px){
        padding:0 15px;
    }
}
.contact-form{
    label{
        font-family: Lato;
        font-size: 16px;
        color: #2e2e2e;
    }
    input.form-field{
        height: 42px;
        padding: 5px;
    }
    .form-field{
        border:1px solid #000;
        -webkit-border-radius: 0px; 
        -moz-border-radius: 0px; 
        margin-bottom: 20px;
        &:focus{
            outline: none;
        }
    }
    textarea{
        resize:none;
        min-height: 131px;
        padding: 5px;
    }
    .submit-form{
        min-width: 290px;
        color: #fff;
        background-color: #362f2d;
        padding:15px;
        border: none;
    }
}
.line{
    border-top: 1px solid #2e2e2e;
} 
.dekstop-lang{
    display: block;
    position: relative !important;
    @media(max-width:992px){
        display: none !important;
    }
    .qtranxs_widget ul.language-chooser{
        position: absolute;
        left: 10px;
        width:200px;
        top: 50%;
    }
}
.mobile-lang{
    display: none;
}
@media(max-width: 992px){
    .header .logo {
        display: inline-block;
    }
    .mobile-lang{
        display: inline-block;
        width: 100%;
        ul {
            text-align: center;
            li{
                display: inline-table !important;
                margin: 0 25px !important;
                max-width: 50px;
                text-align: center;
                height: 35px;
                border-bottom: 2px solid #fff;
                > a{
                }
            }
        }
    }
}
.fp-tableCell{
    @media(max-height: 640px){
        margin-bottom: 25px;
        .section .section-content{
            margin-top: 75px;
        }
        .home-btn{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}