/*
Theme Name: IF Concept 
Author: Ideaformus | Dizaino arkliukas | Minaja
Author URI: http://dizart.lt
Description: Dizaino Arkliukas - Sėkmingam inovacijų šuoliui
Version: 2.0
License: NON
License URI: --
Tags: private, design, inovation, dewdrop, dev, drop, lithuania, dizart, vilnius
Text Domain: dewdrop
*/

@font-face{
    font-family: Gilroy;
    src: url('assets/fonts/Gilroy-Regular.otf');
}

@font-face{
    font-family: Gilroy Semibold;
    src: url('assets/fonts/Gilroy-Semibold.otf');
}

@font-face{
    font-family: Gilroy Bold;
    src: url('assets/fonts/Gilroy-Bold.otf');
}
//CSS3 library extend
@import "assets/libs/css/elements";
// images path
@url: "assets/images";
//main colors
@main: #172d43;
@grey: #6d6e70;
html, body {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    color: @grey;
    font-family:'Gilroy', 'Open Sans', sans-serif;
    background: #fff;
    &.no-scroll {
        overflow-y: hidden;
    }
    @media only screen and (max-width: 991px) {
        overflow-x: hidden;
    }
}

a {
    color: @grey;
    font-weight: normal;
    .transition();
    &:hover {
        color: @main;
        .transition();
    }
    &:focus {
        color: inherit;
        background: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}
input, textarea{
    -webkit-appearance: none;
    border-radius: 0;
}

.header {
    position: relative;
    margin: 0;
    width: 100%;
    .logo {
        display: inline-block;
        position:relative;
        max-height: 92px;
        @media(max-width:991px){
            max-height: 75px;
        }
        &.scrolled{
            &:before{
                left:50%;
                transition: 0.6s ease-in-out;
            }
            &:after{
                right: 50%;
                transition: 0.6s ease-in-out;
            }
        }
        img{
            position:relative;
            left:0px;
            top: 35px;
            transition: 0.6s;
            min-width:130px;
        }
        &:after{
            content: '';
            position: absolute;
            right: 110%;
            bottom: 0;
            width: 1000px;
            height:2px;
            background: rgba(255,255,255,0.1);
            transition: 0.6s ease-in-out;
        }
        &:before{
            content: '';
            position: absolute;
            left: 110%;
            bottom: 0;
            width: 2000px;
            height:2px;
            background: rgba(255,255,255,0.1);
            transition: 0.6s ease-in-out;
        }
    }
    .header-menu-hamburger {
        display: none;
        cursor: pointer;
        position: relative;
        width: 60px;
        height: 45px;
        margin: 0;
        top: 15px;
        float: right;
        .rotation(0deg);
        .transition(0.5s);
        @media only screen and (max-width: 991px) {
            display: block;
        }
        &.open {
            span {
                &:nth-child(1) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
                &:nth-child(2) {
                    .rotation(45deg);
                }
                &:nth-child(3) {
                    top: 18px;
                    .rotation(-45deg);
                }
                &:nth-child(4) {
                    top: 18px;
                    width: 0%;
                    left: 50%;
                }
            }
        }
        span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 7px;
            background: #fff;
            .rounded(9px);
            .opacity(1);
            .rotation(0deg);
            .transition(0.25s);
            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2), &:nth-child(3) {
                top: 18px;
            }
            &:nth-child(4) {
                top: 36px;
            }
        }
    }
    .header-menu {
        ul.header-menu-list {
            li.menu-item {
                position: relative;
                float: left;
                &.current-menu-item{
                    a{
                        color: #ffffff;
                    }
                }
                > a{
                    font-size: 10px;
                    font-family: Gilroy Semibold;
                    text-decoration: none;
                    color: #c2c2c2;
                    text-transform: uppercase;
                    padding: 0 25px;
                    letter-spacing: 1px;
                    &:hover{
                        color: #ffffff;
                    }
                }
                &:before{
                    content:'';
                    position: absolute;
                    left: -8px;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background-color: #ffcc2f;
                    opacity: 0;
                    transition: 0.3s ease-in;
                }
                &:after{
                    content:'';
                    position: absolute;
                    right: -8px;
                    top: 0;
                    width: 4px;
                    height: 100%;
                    background-color: #ffcc2f;
                    opacity: 0;
                    transition: 0.3s ease-in;

                }
                &:hover{
                    &:before{
                        opacity: 1;
                        left: -4px;
                    }
                    &:after{
                        opacity: 1;
                        right: -4px;
                    }
                }
            }
        }
        @media only screen and (max-width: 991px) {
            visibility: hidden;
            z-index: 999;
            position: absolute;
            top: 75px;
            right: -33%;
            width: 33%;
            background: rgba(0, 0, 0, 0.5);
            .transition();
            ul {
                display: block;
                padding: 15px 0;
                overflow-y: scroll;
                margin: 0;
                li {
                    display: table;
                    margin: 0 auto !important;
                    width: 95%;
                    text-align: center;
                    height: 50px;
                    border-bottom: 2px solid #fff;
                    &:last-of-type {
                        border-bottom: none;
                    }
                    a {
                        display: table-cell;
                        vertical-align: middle;
                        text-decoration: none;
                        text-transform: uppercase;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            &.open {
                visibility: visible;
                right: 0;
                top: 75px;
                width: 100%;
                .transition();
            }
            ul.header-menu-list {
                li.menu-item {
                    float: none;
                }
            }
        }
    }
    // fixes
    .static {
        position: static;
        > nav{
            display: table;
            height: 92px;
            float:left;
            > ul{
                display: table-cell;
                vertical-align: middle;
            }
        }
        &:after{
            content: ' ';
            clear: both;
            display: table;
        }
    }
}

// Contacts map
.google-map-side {
    margin-bottom: 40px;
    .google-map {
        width: 100%;
        height: 470px;
        .rounded(4px);
        @media only screen and (max-width: 991px) {
            height: 340px;
        }
        @media only screen and (max-width: 450px) {
            height: 250px;
        }
    }
}
#code-chooser{
    display: table;
    height: 92px;
    width: 100%;
    max-width: 75px;
    margin:0;
    padding:0;
    float:right;
    list-style: none;
    @media(max-width:991px){
        height: 75px;
    }
    >li{
        position: relative;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        &.active{
            a{
                color: #fff;
            }
        }
        a{
            display: block;
            position: relative;
            font-size: 10px;
            font-family: Gilroy Semibold;
            text-decoration: none;
            color: #c2c2c2;
            text-transform: uppercase;
            letter-spacing: 1px;
            &:hover {
                color: #fff;
            }
            &:after{
                content: '';
                position: absolute;
                right: 0;
                top:0;
                width: 1px;
                height: 100%;
                background-color: #c2c2c2;
            }
        }

        &:last-child{
            a{
                &:after{
                    background-color: none;
                    height: 0px;
                }
            }
        }
    }
}
// Breadcrumbs
.breadcrumbs {
    list-style: none;
    padding: 0;
    li {
        display: inline-block;
        margin-right: 10px;
        &.item-current {
            color: @main;
        }
    }
}

// main-container
.main-container {
    overflow-x:hidden;
    h1 {
        margin: 0px 0;
        font-weight: 300;
        font-size: 36px;

    }
    h2 {
        font-weight: 600;
        font-size: 18px;
    }
    // 404 page not found style
    .not-found {
        position: relative;
        text-align: center;
        strong {
            font-size: 200px;
            color: rgba(0, 0, 0, 0.15);
            @media only screen and (max-width: 380px) {
                font-size: 100px;
            }
        }
        p {
            position: absolute;
            top: 40%;
            left: 0;
            right: 0;
            font-size: 43px;
            @media only screen and (max-width: 380px) {
                font-size: 20px;
            }
        }
    }
}
//vertival align
.to-v-container {
    display: table;
    width: 100%;
    height: 100%;
    .to-v {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
    }
}

// FOOTER
.footer {
    z-index: 70;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: @main;
    padding-top:120px;
    padding-bottom:140px;
    h1,h2,h3,h4,h5,strong{
        color: #fff;
        font-family: Gilroy Semibold;
    }
    p{
        font-size:18px;
        color: #838d98;
        line-height: 30px;
        margin:0;
    }
    .footer-left {
        float: left;
        img {
            display: block;
            margin-bottom: 10px;
        }
    }
    .footer-right {
        float: right;
        padding: 10px;
        a.footer-by {
            display: inline-block;
            font-weight: 700;
            padding: 5px 5px 5px 28px;
            background: url("@{url}/by.svg") no-repeat left center;
            background-size: 24px;
        }
    }
    @media only screen and (max-width: 992px){
        .col-md-4{
            margin-bottom: 50px;
            &:last-child{
                margin-bottom: 0px;
            }
        }
    }
    @media only screen and (max-width: 550px) {
        text-align: center;
        .footer-left {
            float: none;
            img {
                display: block;
                margin: 0 auto 10px;
            }
        }
        .footer-right {
            float: none;
            padding: 25px;
        }
    }
}

//usecookie
.usecookie-container {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.8);
    .usecookie-info {
        float: left;
        width: 85%;
        @media only screen and (max-width: 500px) {
            width: 100%;
        }
        p {
            color: #fff;
            font-size: 14px;
        }
    }
    .usecookie-agree {
        float: left;
        width: 15%;
        @media only screen and (max-width: 500px) {
            width: 100%;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        &.set-usecookie {
            display: block;
            float: right;
            padding: 15px 0;
            text-transform: uppercase;
        }
    }
}

//check future
.check_feature-container {
    display: none;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(138, 54, 54, 0.95);
    @media only screen and (max-width: 900px) {
        position: absolute;
        height: auto;
        min-height: 100%;
    }
    .check_feature-close {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 32px;
        height: 32px;
        &:hover {
            opacity: 0.6;
        }
    }
    .description-container {
        display: table;
        width: 100%;
        height: 100%;
        @media only screen and (max-width: 600px) {
            padding: 80px 0;
        }
        .description {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            .description-title {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 30px;
            }
            .description-content {
                padding: 15px 0 40px;
                p {
                    font-size: 20px;
                    &.please {
                        font-size: 16px;
                    }
                }
            }
            .browsers-container {
                .browsers-item {
                    float: left;
                    width: 20%;
                    @media only screen and (max-width: 900px) {
                        float: none;
                        width: 100%;
                        padding-bottom: 30px;
                    }
                    .browser-image {
                        text-align: center;
                        img {
                            width: 40%;
                            height: auto;
                            @media only screen and (max-width: 900px) {
                                width: 20%;
                            }
                        }
                    }
                    .browser-title {
                        padding: 15px 0;
                    }
                    .browser-bottom {
                        .browser-download {
                            display: inline-block;
                            padding: 5px 20px;
                            color: #fff;
                            text-decoration: none;
                            text-transform: uppercase;
                            font-weight: 700;
                            border: 2px solid #fff;
                            &:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }
            }
        }
    }
}
.header{
    position: fixed;
    top:0;
    width: 100%;
    left:0;
    z-index: 99;
    transition:0.3s;
}
.header-slider{
    width:100%;
    #home_slider .item{
        height: 100vh;
        width: 100%;
        background-color: @main;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        display: table;
        .item-wrapper{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            font-size:72px;
            width: 100%;
            position: relative;
            strong{
                font-family: Gilroy Bold;
            }
            @media(max-width: 380px){
                font-size: 34px;
            }
        }
        &:before{
            content: '';
            position: absolute;
            top:0;
            left:0;
            height: 100%;
            width: 100%;
            background: linear-gradient(0deg, rgba(0,0,0,.4), transparent);
        }
    }
}
.fixed-form{
    position: fixed;
    top:35%;
    right: -360px;
    z-index: 99;
    max-width: 360px;
    width:100%;
    background-color: #fff;
    padding: 40px;
    transition:0.6s;
    .button-wrap{
        position:relative;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
    .open-button{
        position: absolute;
        top: -240px;
        left: -20px;
        width:200px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        color: #000;
        font-size: 12px;
        font-family: Gilroy Semibold;
        text-transform: uppercase;
        letter-spacing: 1px;
        background-image: url('assets/images/custom.png');
        background-position: right;
        cursor: pointer;
        @media(max-width: 360px){
            left: -40px;
            top: -220px;
            line-height: 20px;
        }
    }
    .close-form{
        position: absolute;
        left: -60px;
        top:120px;
        height: 60px;
        width: 60px;
        background-color: #f1bf24;
        z-index: -1;
        transition:.6s;
        cursor: pointer;
        background-image: url('assets/images/close.png');
        background-position: center center;
        background-repeat: no-repeat;
        @media(max-width: 380px){
            left:auto;
            right: 0px;
            top: 0!important;
            height: 40px;
            width: 40px;
        }
    }
}

input, textarea{
    border: none;
    border: 1px solid #e3e3e3;
    font-size: 14px;
    color: #131621;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.3s;
    &:active, &:focus{
        outline: none;
        border-color: #999;
    }
    &[type='submit']{
        background:none;
        font-family: Gilroy Bold;
        letter-spacing: 3px;
        text-align: left;
        border: none;
        text-transform: uppercase;
    }
}
.send-wrap{
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        top: 18px;
        width: 4px;
        height: 14px;
        background:#ffcc2f;
    }
}
form{
    .nice-select{
        border-radius: 0;
        border: none;
        border: 1px solid #e3e3e3;
        font-size: 14px;
        color: #131621;
        width: 100%;
        height: 50px;
        padding: 0 20px;
        .current{
            line-height: 50px;
            color: #a7a7a7;
        }
        ul.list{
            width: 100%;  
            border-radius: 0px;
        }
    }
    > *{
        margin-bottom: 10px;
    }
}
::-webkit-input-placeholder {
    color: #a7a7a7;
}
::-moz-placeholder {
    color: #a7a7a7;
}
:-ms-input-placeholder {
    color: #a7a7a7;
}
:-moz-placeholder {
    color: #a7a7a7;
}
.more{
    cursor: pointer;
    color:#ffcc2f;
    font-size: 10px;
    font-family: Gilroy Semibold;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    width:120px;
    text-align: center;
    left:48%;
    left: calc( 50% - 60px );
    max-width: 120px;
    bottom:-30px;
    z-index: 3;
    &:after{
        content: '';
        position: relative;
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        width: 4px;
        height: 60px;
        background-color: #ffcc2f;
    }
}
.white{
    background: #ffffff;
    padding:140px 0px;
    padding-bottom: 0px;
    margin-bottom: -11%;
    h2{
        margin:0;
        text-align: center;
        font-size: 48px;
        font-family: Gilroy Bold;
        color: #131621;
    }
}
.blue{
    background: @main;
    padding-top: 13%;
    h2{
        margin:0;
        margin-top:100px;
        text-align: center;
        font-size: 48px;
        font-family: Gilroy Bold;
        color: #fff;
    }
    @media(max-width: 992px){
        padding-top:15%;
    }
}
#home-services{
    margin-top:60px;
    .col-md-4{
        @media(max-width: 992px){
            .service-item{
                margin-bottom:25px;             
            }
            &:last-child{
                .service-item{
                    margin-bottom: 0px;
                }
            }
        }
    }
}
.service-item{
    height: 490px;
    background:#fff;
    -webkit-box-shadow: 0px 0px 91px -11px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 91px -11px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 91px -11px rgba(0,0,0,0.1);
    padding: 60px 60px;
    h3{
        color: #131621;
        font-family: Gilroy Bold;
        font-size: 24px;
    }
    ul{
        height: 260px;
        list-style: none;
        padding: 0;
        margin:0;
        margin-top: 30px;
        li{
            margin-bottom: 30px;
            color: #a7a7a7;
            font-size:18px;
            &:last-child{
                margin:0px;
            }
        }
    }
}
.col-md-4{
    &:first-child{
        .service-item{
            background-image: url('assets/images/chair.png');
            background-repeat: no-repeat;
            background-position: bottom right;
        }
    }
    &:nth-child(2){
        .service-item{
            background-image: url('assets/images/puzzle.png');
            background-repeat: no-repeat;
            background-position: bottom right;
        }
    }
    &:nth-child(3){
        .service-item{
            background-image: url('assets/images/clink.png');
            background-repeat: no-repeat;
            background-position: bottom right;
        }
    }
}

.button{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: Gilroy Bold;
    font-size: 12px;
    padding: 0 30px;
    &:before{
        content: '';
        position: absolute;
        left: 9px;
        width: 4px;
        top:0px;
        height: 100%;
        background-color: #ffcc2f;
    }
    &:after{
        content:'';
        transition: 0.3s ease-in-out;
    }
    &:hover{
        color: #ffcc2f;
        &:after{
            content: '';
            position: absolute;
            right: 9px;
            width: 4px;
            top:0px;
            height: 100%;
            background-color: #ffcc2f;
        }
    }
}
.page-header{
    height: 400px;
    width:100%;
    position: relative;
    background-color: @main;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: table;
    h1{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-family: Gilroy Bold;
        font-size: 72px;
        position: relative;
        z-index: 10;
        @media(max-width:767px){
            font-size:24px;
        }
    }
    &:after{
        content: '';
        position: absolute;
        left: 49%;
        left: calc( 50% - 2px );
        bottom:-30px;
        width: 4px;
        height: 60px;
        background-color:#ffcc2f;
        z-index: 99;

    }
    &:before{
        content: '';
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,.4), transparent);
    }
}
.content{
    margin: 100px 0;
    .text{
        max-width: 757px;
        margin: 0 auto;
        h1,h2,h3,h4,h5{
            color:#131621;
            font-family: Gilroy Bold;
        }
        p{
            color: #a7a7a7;
            line-height: 26px;
        }
    }
}
.px-0{
    padding: 0px;
}
.services{
    padding-bottom: 120px;
    #list-column{
        display: table;
    }
    .list{
        display: block;
        -ms-word-break: all;
        word-break: all;
        a{
            display: block;
            width:100%;
            font-family: Gilroy Bold;
            font-size: 24px;
            color: #a7a7a7;
            padding: 35px 75px;
            text-decoration: none;
            background-color: #f1f1f1;
            border-bottom:1px solid #e3e3e3;
            cursor:pointer;
            &:last-child{
                border-bottom: 0px;
            }
            &.active{
                background-color: #fff;
                color: #131621;
                box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    top:0;
                    z-index: 96;
                    right: 0px;
                    width: 20px;
                    height: 100%;
                    background-color: #fff;
                }
            }
        }
    }
    .tab-content{
        box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
        padding: 40px 80px;
        background-color: #ffffff;
        word-break: break-word;
        > div{
            display: none;
            transition: 0.3s;
            opacity:0;
            line-height: 24px;
            &.active{
                display: block;
                transition: 0.3s;
                opacity: 1;
            }
            h1,h2,h3,h4,h5{
                color: #000;
                font-family: Gilroy bold;
                letter-spacing: 1px;
            }
        }
        ul{
            list-style-type: none;
            padding: 0;
            li:before { /* the custom styled bullets */
                background-color: #ffcc2f;
                border-radius: 50%;
                content: "";
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 2px;
                height: 8px;
                width: 8px;
                margin-right: 30px;
            }
            li{
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        @media(max-width:767px){
            padding: 25px 35px;
        }
    }
}
#service-files{
    margin-bottom: 105px;
    h3{
        font-size:48px;
        font-family: Gilroy Bold;
        color: #131621;
        margin:0;
        @media(max-width: 992px){
            margin-bottom: 50px;
        }
    }
    img{
        margin-bottom: 30px;
    }
    .file-title{
        font-family: Gilroy Bold;
        font-size: 18px;
        color: #131621;
        margin-bottom: 20px; 
        word-break: break-word;
        height: 45px;
        overflow: hidden;
    }
    a{
        color: #ffcc2f;
        font-size: 12px;
        font-family: Gilroy Bold;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-decoration: none;
    }
    .file-hold{
        margin-bottom: 15px;
    }
}
.socials{
    margin-top: 60px;
    >.label{
        margin-bottom: 20px;
        letter-spacing: 1px;
    }
    > a{
        text-align: center;
        height: 40px;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid #838d98;
        color: #838d98;
        text-decoration: none;
        margin-right: 10px;
        &:hover, &:active, &:focus{
            opacity: .7;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}
.member{
    height: 300px;
    margin-bottom: 50px;
    >img{
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
        margin-bottom: 40px;
    }
    .duty{
        color: #131621;
        font-size: 18px;
        line-height: 24px;
    }
    .name{
        font-family: Gilroy Bold;
        font-size: 18px;
        color: #131621;
        margin-bottom: 30px;
    }
    .phone{
        font-size: 16px;
        color: #a7a7a7;
        line-height: 24px;
    }
    .email{
        font-size: 16px;
        color: #a7a7a7;
    }
}
.page-template-page-contacts .footer{
    display: none;
}
.contacts{
    position: relative;
    z-index: 37;
    h2{
        font-size: 48px;
        font-family: Gilroy Bold;
        margin-top:0;
    }
    .form{
        padding: 80px;
        box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
        min-height: 610px;
        background-color: #fff;
        .send-wrap{
            margin-top: 22px;
        }
        @media(max-width:767px){
            padding: 25px;
        }
    }
    .info{
        padding:80px;
        background-color: @main;
        color: #fff;
        box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
        min-height: 610px;
        .text{
            strong, h1, h2, h3,h4,h5{
                font-family: Gilroy semibold;
                color: #fff;
            }
            p{
                margin:0;
                line-height: 30px;
                font-size: 18px;
                color: #838d98;
            }
        }
        @media(max-width: 767px){
            padding: 25px;
        }
    }
}
.two-text{
    columns: 2;
    -webkit-column-gap: 120px;
    -moz-column-gap: 120px;
    column-gap: 120px;
    margin-bottom: 80px;
    strong, h1, h2, h3,h4,h5{
        font-family: Gilroy bold;
        color: #131621;
    }
    p{
        margin:0;
        line-height: 30px;
        font-size: 18px;
        color: #838d98;
    }
    @media(max-width: 767px){
        columns: 1;
    }
}
.float-label{
    position: relative;
    padding-top: 20px;
    label{
        position: absolute;
        top: 37px;
        left: 22px;
        font-size: 14px;
        color: #a7a7a7;
        pointer-events: none;
        transition: 0.3s ease-in-out;
        letter-spacing: 2px;
    }
    input, textarea{
        &:focus, &:active, &:not(:placeholder-shown){
            ~ label {
                top: 3px;
                left: 0px;
                font-size: 12px;
            }
        }   
    }
}
.pair{
    display: table;
    width: 100%;
    > *{
        display: table-cell;
        width: 50%;
        &:first-child{
            border-right: 5px solid transparent;
        }
        &:last-child{
            border-left: 5px solid transparent;
        }
        @media (max-width: 768px) {
            width: 100%;
            display: block;
            &:first-child{
                border-right: 0px solid transparent;
            }
            &:last-child{
                border-left: 0px solid transparent;
            } 
        } 
    }
}
textarea{
    resize: none;
    padding: 20px;
    max-height: 100px;
    height: 100%;
}
#google-map{
    height: 100vh;
    margin-top: -20%;
}
.btn-form{
    background:none;
    font-family: Gilroy Bold;
    letter-spacing: 3px;
    text-align: left;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    color:#131621;
    height: 50px;
    padding:0px 25px;
}
.content .abouth2{
    font-size: 48px;
    color:#131621;
    font-family: Gilroy Bold;
    margin-top: 0px;
    text-align: left;
    margin-bottom: 60PX;
}
.video-block{
    box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
    border: 60px solid transparent;
    background: #fff;
    min-height: 500px;
    z-index: 9;
    position: relative;
    @media(max-width: 767px){
        border: 10px solid transparent;
    }
    > *{
        height: 510px;
        width: 100%;
    }
    .v-img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 60px;
        cursor: pointer;
        transition: 0.3s;
        .player{
            display: table;
            text-align: center;
            height: 100%;
            width: 100%;
            > * {
                display: table-cell;
                vertical-align: middle;
                img{
                    margin-bottom: 30px;
                }
                color: #fff;
                font-family: Gilroy Semibold;
                font-size: 10px;
                text-transform: uppercase;
                letter-spacing: 3px;
            }
        }
    }
}
.group {
    .content{
        margin-top: 0px;
    }
}
.page-template-page-about{
    .blue{
        padding-bottom: 120px;
        .text{
            max-width: 700px;
            margin: 0 auto;
            color: #838d98;
            h2{
                margin-top: 0px;
                margin-bottom: 60px;
            }
            strong, h1,h2,h3,h4,h5{
                font-family: Gilroy Bold;
            }
            p{
                margin: 0;
                line-height: 26px;
            }
        }
    }
}
.proccess{
    padding-top: 100px;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        height: 60px;
        width: 4px;
        left:48%;
        left: calc(50% - 2px);
        top:-30px;
        background-color: #ffcc2f;
    }
    h2{
        margin-top:0;
        font-size: 48px;
        font-family: Gilroy bold;
        color: #131621;
        text-align: center;
    }
}
.p-item{
    text-align: center;
    position: relative;
    .icon-wrap{
        border-radius: 50%;
        border:1px solid #e3e3e3;
        height: 120px;
        width: 120px;
        line-height: 120px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &:after{
        content: '';
        position: absolute;
        top: 50px;
        right: -8px;
        width: 26px;
        height: 15px;
        background-image: url(assets/images/NEXT.png);
    }
    &:last-child{
        &:after{
            display: none;
        }
    }
    @media(max-width: 992px){
        margin-bottom: 25px;
    }

}
.proccess + .tab-content{ 
    box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
    margin-top: 120px;
    margin-bottom: -15%;
    z-index: 9;
    position: relative;
    background: #fff;
    > div{
        display: none;
        transition: 0.3s;
        opacity: 0;
        line-height: 24px;
        &.active{
            display: block;
            opacity: 1;
            transition: 0.3s;
            overflow: hidden;
        }
    }

}
.fir{
    padding: 100px 80px;
    color: #131621;
    p{
        color: #a7a7a7;
    }
    @media(max-width: 767px){
        padding: 25px 35px;
    }
}
.tab-title{
    font-family: Gilroy bold;
    font-size: 18px;
    color: #131621;
}
.grey{
    background-color: #e3e3e3;
    padding-top: 225px;
    padding-bottom: 120px;
    h1,h2,h3,h4,h5,strong{
        font-family: Gilroy Bold;
        color: #131520;
    }
    h2{
        margin: 0;
    }
    .text{
        max-width: 700px;
        margin: 0 auto;
        p{
            margin: 0;
            line-height: 26px;
            font-size: 16px;
            color: #a7a7a7;
        }
    }
}
#companies{
    margin-top: 60px;;
    .item{
        text-align: center;
        display: table;
        width: 100%;
        height: 60px;
        a{
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        img{
            max-height: 60px;
            width: auto;
            margin: 0 auto;
        }
    }
}
h1{
    @media(max-width:767px){
        font-size:24px;
    }
}
.video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    iframe{
        width: 100%;
        height: 100%;
    }
}
.page-template-page-about-php{
    .group{
        .blue{
            padding-top: 20%
        }
        .white{
            margin-bottom: -20%;
        }
    }
    .img-area{
        min-height: 430px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
