/*
Theme Name: IF Concept 
Author: Ideaformus | Dizaino arkliukas | Minaja
Author URI: http://dizart.lt
Description: Dizaino Arkliukas - Sėkmingam inovacijų šuoliui
Version: 2.0
License: NON
License URI: --
Tags: private, design, inovation, dewdrop, dev, drop, lithuania, dizart, vilnius
Text Domain: dewdrop
*/
@font-face {
  font-family: Gilroy;
  src: url('assets/fonts/Gilroy-Regular.otf');
}
@font-face {
  font-family: Gilroy Semibold;
  src: url('assets/fonts/Gilroy-Semibold.otf');
}
@font-face {
  font-family: Gilroy Bold;
  src: url('assets/fonts/Gilroy-Bold.otf');
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  color: #6d6e70;
  font-family: 'Gilroy', 'Open Sans', sans-serif;
  background: #fff;
}
body.no-scroll {
  overflow-y: hidden;
}
@media only screen and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
}
a {
  color: #6d6e70;
  font-weight: normal;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  color: #172d43;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:focus {
  color: inherit;
  background: none;
}
img {
  max-width: 100%;
  height: auto;
}
input,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
.header {
  position: relative;
  margin: 0;
  width: 100%;
}
.header .logo {
  display: inline-block;
  position: relative;
  max-height: 92px;
}
@media (max-width: 991px) {
  .header .logo {
    max-height: 75px;
  }
}
.header .logo.scrolled:before {
  left: 50%;
  transition: 0.6s ease-in-out;
}
.header .logo.scrolled:after {
  right: 50%;
  transition: 0.6s ease-in-out;
}
.header .logo img {
  position: relative;
  left: 0px;
  top: 35px;
  transition: 0.6s;
  min-width: 130px;
}
.header .logo:after {
  content: '';
  position: absolute;
  right: 110%;
  bottom: 0;
  width: 1000px;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.6s ease-in-out;
}
.header .logo:before {
  content: '';
  position: absolute;
  left: 110%;
  bottom: 0;
  width: 2000px;
  height: 2px;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.6s ease-in-out;
}
.header .header-menu-hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 60px;
  height: 45px;
  margin: 0;
  top: 15px;
  float: right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media only screen and (max-width: 991px) {
  .header .header-menu-hamburger {
    display: block;
  }
}
.header .header-menu-hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header .header-menu-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header .header-menu-hamburger.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header .header-menu-hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.header .header-menu-hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 7px;
  background: #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  filter: alpha(opacity=100);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
.header .header-menu-hamburger span:nth-child(1) {
  top: 0;
}
.header .header-menu-hamburger span:nth-child(2),
.header .header-menu-hamburger span:nth-child(3) {
  top: 18px;
}
.header .header-menu-hamburger span:nth-child(4) {
  top: 36px;
}
.header .header-menu ul.header-menu-list li.menu-item {
  position: relative;
  float: left;
}
.header .header-menu ul.header-menu-list li.menu-item.current-menu-item a {
  color: #ffffff;
}
.header .header-menu ul.header-menu-list li.menu-item > a {
  font-size: 10px;
  font-family: Gilroy Semibold;
  text-decoration: none;
  color: #c2c2c2;
  text-transform: uppercase;
  padding: 0 25px;
  letter-spacing: 1px;
}
.header .header-menu ul.header-menu-list li.menu-item > a:hover {
  color: #ffffff;
}
.header .header-menu ul.header-menu-list li.menu-item:before {
  content: '';
  position: absolute;
  left: -8px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ffcc2f;
  opacity: 0;
  transition: 0.3s ease-in;
}
.header .header-menu ul.header-menu-list li.menu-item:after {
  content: '';
  position: absolute;
  right: -8px;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #ffcc2f;
  opacity: 0;
  transition: 0.3s ease-in;
}
.header .header-menu ul.header-menu-list li.menu-item:hover:before {
  opacity: 1;
  left: -4px;
}
.header .header-menu ul.header-menu-list li.menu-item:hover:after {
  opacity: 1;
  right: -4px;
}
@media only screen and (max-width: 991px) {
  .header .header-menu {
    visibility: hidden;
    z-index: 999;
    position: absolute;
    top: 75px;
    right: -33%;
    width: 33%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header .header-menu ul {
    display: block;
    padding: 15px 0;
    overflow-y: scroll;
    margin: 0;
  }
  .header .header-menu ul li {
    display: table;
    margin: 0 auto !important;
    width: 95%;
    text-align: center;
    height: 50px;
    border-bottom: 2px solid #fff;
  }
  .header .header-menu ul li:last-of-type {
    border-bottom: none;
  }
  .header .header-menu ul li a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
  }
  .header .header-menu ul li a:hover {
    color: #fff;
  }
  .header .header-menu.open {
    visibility: visible;
    right: 0;
    top: 75px;
    width: 100%;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  .header .header-menu ul.header-menu-list li.menu-item {
    float: none;
  }
}
.header .static {
  position: static;
}
.header .static > nav {
  display: table;
  height: 92px;
  float: left;
}
.header .static > nav > ul {
  display: table-cell;
  vertical-align: middle;
}
.header .static:after {
  content: ' ';
  clear: both;
  display: table;
}
.google-map-side {
  margin-bottom: 40px;
}
.google-map-side .google-map {
  width: 100%;
  height: 470px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
@media only screen and (max-width: 991px) {
  .google-map-side .google-map {
    height: 340px;
  }
}
@media only screen and (max-width: 450px) {
  .google-map-side .google-map {
    height: 250px;
  }
}
#code-chooser {
  display: table;
  height: 92px;
  width: 100%;
  max-width: 75px;
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
}
@media (max-width: 991px) {
  #code-chooser {
    height: 75px;
  }
}
#code-chooser > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#code-chooser > li.active a {
  color: #fff;
}
#code-chooser > li a {
  display: block;
  position: relative;
  font-size: 10px;
  font-family: Gilroy Semibold;
  text-decoration: none;
  color: #c2c2c2;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#code-chooser > li a:hover {
  color: #fff;
}
#code-chooser > li a:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #c2c2c2;
}
#code-chooser > li:last-child a:after {
  background-color: none;
  height: 0px;
}
.breadcrumbs {
  list-style: none;
  padding: 0;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs li.item-current {
  color: #172d43;
}
.main-container {
  overflow-x: hidden;
}
.main-container h1 {
  margin: 0px 0;
  font-weight: 300;
  font-size: 36px;
}
.main-container h2 {
  font-weight: 600;
  font-size: 18px;
}
.main-container .not-found {
  position: relative;
  text-align: center;
}
.main-container .not-found strong {
  font-size: 200px;
  color: rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 380px) {
  .main-container .not-found strong {
    font-size: 100px;
  }
}
.main-container .not-found p {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-size: 43px;
}
@media only screen and (max-width: 380px) {
  .main-container .not-found p {
    font-size: 20px;
  }
}
.to-v-container {
  display: table;
  width: 100%;
  height: 100%;
}
.to-v-container .to-v {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}
.footer {
  z-index: 70;
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #172d43;
  padding-top: 120px;
  padding-bottom: 140px;
}
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer strong {
  color: #fff;
  font-family: Gilroy Semibold;
}
.footer p {
  font-size: 18px;
  color: #838d98;
  line-height: 30px;
  margin: 0;
}
.footer .footer-left {
  float: left;
}
.footer .footer-left img {
  display: block;
  margin-bottom: 10px;
}
.footer .footer-right {
  float: right;
  padding: 10px;
}
.footer .footer-right a.footer-by {
  display: inline-block;
  font-weight: 700;
  padding: 5px 5px 5px 28px;
  background: url("assets/images/by.svg") no-repeat left center;
  background-size: 24px;
}
@media only screen and (max-width: 992px) {
  .footer .col-md-4 {
    margin-bottom: 50px;
  }
  .footer .col-md-4:last-child {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .footer {
    text-align: center;
  }
  .footer .footer-left {
    float: none;
  }
  .footer .footer-left img {
    display: block;
    margin: 0 auto 10px;
  }
  .footer .footer-right {
    float: none;
    padding: 25px;
  }
}
.usecookie-container {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  background: rgba(0, 0, 0, 0.8);
}
.usecookie-container .usecookie-info {
  float: left;
  width: 85%;
}
@media only screen and (max-width: 500px) {
  .usecookie-container .usecookie-info {
    width: 100%;
  }
}
.usecookie-container .usecookie-info p {
  color: #fff;
  font-size: 14px;
}
.usecookie-container .usecookie-agree {
  float: left;
  width: 15%;
}
@media only screen and (max-width: 500px) {
  .usecookie-container .usecookie-agree {
    width: 100%;
  }
}
.usecookie-container a {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.usecookie-container a.set-usecookie {
  display: block;
  float: right;
  padding: 15px 0;
  text-transform: uppercase;
}
.check_feature-container {
  display: none;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(138, 54, 54, 0.95);
}
@media only screen and (max-width: 900px) {
  .check_feature-container {
    position: absolute;
    height: auto;
    min-height: 100%;
  }
}
.check_feature-container .check_feature-close {
  display: block;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
}
.check_feature-container .check_feature-close:hover {
  opacity: 0.6;
}
.check_feature-container .description-container {
  display: table;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .check_feature-container .description-container {
    padding: 80px 0;
  }
}
.check_feature-container .description-container .description {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.check_feature-container .description-container .description .description-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
}
.check_feature-container .description-container .description .description-content {
  padding: 15px 0 40px;
}
.check_feature-container .description-container .description .description-content p {
  font-size: 20px;
}
.check_feature-container .description-container .description .description-content p.please {
  font-size: 16px;
}
.check_feature-container .description-container .description .browsers-container .browsers-item {
  float: left;
  width: 20%;
}
@media only screen and (max-width: 900px) {
  .check_feature-container .description-container .description .browsers-container .browsers-item {
    float: none;
    width: 100%;
    padding-bottom: 30px;
  }
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-image {
  text-align: center;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-image img {
  width: 40%;
  height: auto;
}
@media only screen and (max-width: 900px) {
  .check_feature-container .description-container .description .browsers-container .browsers-item .browser-image img {
    width: 20%;
  }
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-title {
  padding: 15px 0;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-bottom .browser-download {
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #fff;
}
.check_feature-container .description-container .description .browsers-container .browsers-item .browser-bottom .browser-download:hover {
  opacity: 0.6;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 99;
  transition: 0.3s;
}
.header-slider {
  width: 100%;
}
.header-slider #home_slider .item {
  height: 100vh;
  width: 100%;
  background-color: #172d43;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
}
.header-slider #home_slider .item .item-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  font-size: 72px;
  width: 100%;
  position: relative;
}
.header-slider #home_slider .item .item-wrapper strong {
  font-family: Gilroy Bold;
}
@media (max-width: 380px) {
  .header-slider #home_slider .item .item-wrapper {
    font-size: 34px;
  }
}
.header-slider #home_slider .item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
}
.fixed-form {
  position: fixed;
  top: 35%;
  right: -360px;
  z-index: 99;
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  transition: 0.6s;
}
.fixed-form .button-wrap {
  position: relative;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.fixed-form .open-button {
  position: absolute;
  top: -240px;
  left: -20px;
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-family: Gilroy Semibold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: url('assets/images/custom.png');
  background-position: right;
  cursor: pointer;
}
@media (max-width: 360px) {
  .fixed-form .open-button {
    left: -40px;
    top: -220px;
    line-height: 20px;
  }
}
.fixed-form .close-form {
  position: absolute;
  left: -60px;
  top: 120px;
  height: 60px;
  width: 60px;
  background-color: #f1bf24;
  z-index: -1;
  transition: .6s;
  cursor: pointer;
  background-image: url('assets/images/close.png');
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 380px) {
  .fixed-form .close-form {
    left: auto;
    right: 0px;
    top: 0!important;
    height: 40px;
    width: 40px;
  }
}
input,
textarea {
  border: none;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  color: #131621;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  transition: 0.3s;
}
input:active,
textarea:active,
input:focus,
textarea:focus {
  outline: none;
  border-color: #999;
}
input[type='submit'],
textarea[type='submit'] {
  background: none;
  font-family: Gilroy Bold;
  letter-spacing: 3px;
  text-align: left;
  border: none;
  text-transform: uppercase;
}
.send-wrap {
  position: relative;
}
.send-wrap:after {
  content: '';
  position: absolute;
  left: 0;
  top: 18px;
  width: 4px;
  height: 14px;
  background: #ffcc2f;
}
form .nice-select {
  border-radius: 0;
  border: none;
  border: 1px solid #e3e3e3;
  font-size: 14px;
  color: #131621;
  width: 100%;
  height: 50px;
  padding: 0 20px;
}
form .nice-select .current {
  line-height: 50px;
  color: #a7a7a7;
}
form .nice-select ul.list {
  width: 100%;
  border-radius: 0px;
}
form > * {
  margin-bottom: 10px;
}
::-webkit-input-placeholder {
  color: #a7a7a7;
}
::-moz-placeholder {
  color: #a7a7a7;
}
:-ms-input-placeholder {
  color: #a7a7a7;
}
:-moz-placeholder {
  color: #a7a7a7;
}
.more {
  cursor: pointer;
  color: #ffcc2f;
  font-size: 10px;
  font-family: Gilroy Semibold;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  width: 120px;
  text-align: center;
  left: 48%;
  left: calc(50% - 60px);
  max-width: 120px;
  bottom: -30px;
  z-index: 3;
}
.more:after {
  content: '';
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  width: 4px;
  height: 60px;
  background-color: #ffcc2f;
}
.white {
  background: #ffffff;
  padding: 140px 0px;
  padding-bottom: 0px;
  margin-bottom: -11%;
}
.white h2 {
  margin: 0;
  text-align: center;
  font-size: 48px;
  font-family: Gilroy Bold;
  color: #131621;
}
.blue {
  background: #172d43;
  padding-top: 13%;
}
.blue h2 {
  margin: 0;
  margin-top: 100px;
  text-align: center;
  font-size: 48px;
  font-family: Gilroy Bold;
  color: #fff;
}
@media (max-width: 992px) {
  .blue {
    padding-top: 15%;
  }
}
#home-services {
  margin-top: 60px;
}
@media (max-width: 992px) {
  #home-services .col-md-4 .service-item {
    margin-bottom: 25px;
  }
  #home-services .col-md-4:last-child .service-item {
    margin-bottom: 0px;
  }
}
.service-item {
  height: 490px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 91px -11px rgba(0, 0, 0, 0.1);
  padding: 60px 60px;
}
.service-item h3 {
  color: #131621;
  font-family: Gilroy Bold;
  font-size: 24px;
}
.service-item ul {
  height: 260px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}
.service-item ul li {
  margin-bottom: 30px;
  color: #a7a7a7;
  font-size: 18px;
}
.service-item ul li:last-child {
  margin: 0px;
}
.col-md-4:first-child .service-item {
  background-image: url('assets/images/chair.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.col-md-4:nth-child(2) .service-item {
  background-image: url('assets/images/puzzle.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.col-md-4:nth-child(3) .service-item {
  background-image: url('assets/images/clink.png');
  background-repeat: no-repeat;
  background-position: bottom right;
}
.button {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-family: Gilroy Bold;
  font-size: 12px;
  padding: 0 30px;
}
.button:before {
  content: '';
  position: absolute;
  left: 9px;
  width: 4px;
  top: 0px;
  height: 100%;
  background-color: #ffcc2f;
}
.button:after {
  content: '';
  transition: 0.3s ease-in-out;
}
.button:hover {
  color: #ffcc2f;
}
.button:hover:after {
  content: '';
  position: absolute;
  right: 9px;
  width: 4px;
  top: 0px;
  height: 100%;
  background-color: #ffcc2f;
}
.page-header {
  height: 400px;
  width: 100%;
  position: relative;
  background-color: #172d43;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: table;
}
.page-header h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-family: Gilroy Bold;
  font-size: 72px;
  position: relative;
  z-index: 10;
}
@media (max-width: 767px) {
  .page-header h1 {
    font-size: 24px;
  }
}
.page-header:after {
  content: '';
  position: absolute;
  left: 49%;
  left: calc(50% - 2px);
  bottom: -30px;
  width: 4px;
  height: 60px;
  background-color: #ffcc2f;
  z-index: 99;
}
.page-header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), transparent);
}
.content {
  margin: 100px 0;
}
.content .text {
  max-width: 757px;
  margin: 0 auto;
}
.content .text h1,
.content .text h2,
.content .text h3,
.content .text h4,
.content .text h5 {
  color: #131621;
  font-family: Gilroy Bold;
}
.content .text p {
  color: #a7a7a7;
  line-height: 26px;
}
.px-0 {
  padding: 0px;
}
.services {
  padding-bottom: 120px;
}
.services #list-column {
  display: table;
}
.services .list {
  display: block;
  -ms-word-break: all;
  word-break: all;
}
.services .list a {
  display: block;
  width: 100%;
  font-family: Gilroy Bold;
  font-size: 24px;
  color: #a7a7a7;
  padding: 35px 75px;
  text-decoration: none;
  background-color: #f1f1f1;
  border-bottom: 1px solid #e3e3e3;
  cursor: pointer;
}
.services .list a:last-child {
  border-bottom: 0px;
}
.services .list a.active {
  background-color: #fff;
  color: #131621;
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  position: relative;
}
.services .list a.active:after {
  content: '';
  position: absolute;
  top: 0;
  z-index: 96;
  right: 0px;
  width: 20px;
  height: 100%;
  background-color: #fff;
}
.services .tab-content {
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  padding: 40px 80px;
  background-color: #ffffff;
  word-break: break-word;
}
.services .tab-content > div {
  display: none;
  transition: 0.3s;
  opacity: 0;
  line-height: 24px;
}
.services .tab-content > div.active {
  display: block;
  transition: 0.3s;
  opacity: 1;
}
.services .tab-content > div h1,
.services .tab-content > div h2,
.services .tab-content > div h3,
.services .tab-content > div h4,
.services .tab-content > div h5 {
  color: #000;
  font-family: Gilroy bold;
  letter-spacing: 1px;
}
.services .tab-content ul {
  list-style-type: none;
  padding: 0;
}
.services .tab-content ul li:before {
  /* the custom styled bullets */
  background-color: #ffcc2f;
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 2px;
  height: 8px;
  width: 8px;
  margin-right: 30px;
}
.services .tab-content ul li {
  margin-bottom: 30px;
}
.services .tab-content ul li:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .services .tab-content {
    padding: 25px 35px;
  }
}
#service-files {
  margin-bottom: 105px;
}
#service-files h3 {
  font-size: 48px;
  font-family: Gilroy Bold;
  color: #131621;
  margin: 0;
}
@media (max-width: 992px) {
  #service-files h3 {
    margin-bottom: 50px;
  }
}
#service-files img {
  margin-bottom: 30px;
}
#service-files .file-title {
  font-family: Gilroy Bold;
  font-size: 18px;
  color: #131621;
  margin-bottom: 20px;
  word-break: break-word;
  height: 45px;
  overflow: hidden;
}
#service-files a {
  color: #ffcc2f;
  font-size: 12px;
  font-family: Gilroy Bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
}
#service-files .file-hold {
  margin-bottom: 15px;
}
.socials {
  margin-top: 60px;
}
.socials > .label {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.socials > a {
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #838d98;
  color: #838d98;
  text-decoration: none;
  margin-right: 10px;
}
.socials > a:hover,
.socials > a:active,
.socials > a:focus {
  opacity: .7;
}
.socials > a:last-child {
  margin-right: 0px;
}
.member {
  height: 300px;
  margin-bottom: 50px;
}
.member > img {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
}
.member .duty {
  color: #131621;
  font-size: 18px;
  line-height: 24px;
}
.member .name {
  font-family: Gilroy Bold;
  font-size: 18px;
  color: #131621;
  margin-bottom: 30px;
}
.member .phone {
  font-size: 16px;
  color: #a7a7a7;
  line-height: 24px;
}
.member .email {
  font-size: 16px;
  color: #a7a7a7;
}
.page-template-page-contacts .footer {
  display: none;
}
.contacts {
  position: relative;
  z-index: 37;
}
.contacts h2 {
  font-size: 48px;
  font-family: Gilroy Bold;
  margin-top: 0;
}
.contacts .form {
  padding: 80px;
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  min-height: 610px;
  background-color: #fff;
}
.contacts .form .send-wrap {
  margin-top: 22px;
}
@media (max-width: 767px) {
  .contacts .form {
    padding: 25px;
  }
}
.contacts .info {
  padding: 80px;
  background-color: #172d43;
  color: #fff;
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  min-height: 610px;
}
.contacts .info .text strong,
.contacts .info .text h1,
.contacts .info .text h2,
.contacts .info .text h3,
.contacts .info .text h4,
.contacts .info .text h5 {
  font-family: Gilroy semibold;
  color: #fff;
}
.contacts .info .text p {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  color: #838d98;
}
@media (max-width: 767px) {
  .contacts .info {
    padding: 25px;
  }
}
.two-text {
  columns: 2;
  -webkit-column-gap: 120px;
  -moz-column-gap: 120px;
  column-gap: 120px;
  margin-bottom: 80px;
}
.two-text strong,
.two-text h1,
.two-text h2,
.two-text h3,
.two-text h4,
.two-text h5 {
  font-family: Gilroy bold;
  color: #131621;
}
.two-text p {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  color: #838d98;
}
@media (max-width: 767px) {
  .two-text {
    columns: 1;
  }
}
.float-label {
  position: relative;
  padding-top: 20px;
}
.float-label label {
  position: absolute;
  top: 37px;
  left: 22px;
  font-size: 14px;
  color: #a7a7a7;
  pointer-events: none;
  transition: 0.3s ease-in-out;
  letter-spacing: 2px;
}
.float-label input:focus ~ label,
.float-label textarea:focus ~ label,
.float-label input:active ~ label,
.float-label textarea:active ~ label,
.float-label input:not(:placeholder-shown) ~ label,
.float-label textarea:not(:placeholder-shown) ~ label {
  top: 3px;
  left: 0px;
  font-size: 12px;
}
.pair {
  display: table;
  width: 100%;
}
.pair > * {
  display: table-cell;
  width: 50%;
}
.pair > *:first-child {
  border-right: 5px solid transparent;
}
.pair > *:last-child {
  border-left: 5px solid transparent;
}
@media (max-width: 768px) {
  .pair > * {
    width: 100%;
    display: block;
  }
  .pair > *:first-child {
    border-right: 0px solid transparent;
  }
  .pair > *:last-child {
    border-left: 0px solid transparent;
  }
}
textarea {
  resize: none;
  padding: 20px;
  max-height: 100px;
  height: 100%;
}
#google-map {
  height: 100vh;
  margin-top: -20%;
}
.btn-form {
  background: none;
  font-family: Gilroy Bold;
  letter-spacing: 3px;
  text-align: left;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #131621;
  height: 50px;
  padding: 0px 25px;
}
.content .abouth2 {
  font-size: 48px;
  color: #131621;
  font-family: Gilroy Bold;
  margin-top: 0px;
  text-align: left;
  margin-bottom: 60PX;
}
.video-block {
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  border: 60px solid transparent;
  background: #fff;
  min-height: 500px;
  z-index: 9;
  position: relative;
}
@media (max-width: 767px) {
  .video-block {
    border: 10px solid transparent;
  }
}
.video-block > * {
  height: 510px;
  width: 100%;
}
.video-block .v-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  cursor: pointer;
  transition: 0.3s;
}
.video-block .v-img .player {
  display: table;
  text-align: center;
  height: 100%;
  width: 100%;
}
.video-block .v-img .player > * {
  display: table-cell;
  vertical-align: middle;
  color: #fff;
  font-family: Gilroy Semibold;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.video-block .v-img .player > * img {
  margin-bottom: 30px;
}
.group .content {
  margin-top: 0px;
}
.page-template-page-about .blue {
  padding-bottom: 120px;
}
.page-template-page-about .blue .text {
  max-width: 700px;
  margin: 0 auto;
  color: #838d98;
}
.page-template-page-about .blue .text h2 {
  margin-top: 0px;
  margin-bottom: 60px;
}
.page-template-page-about .blue .text strong,
.page-template-page-about .blue .text h1,
.page-template-page-about .blue .text h2,
.page-template-page-about .blue .text h3,
.page-template-page-about .blue .text h4,
.page-template-page-about .blue .text h5 {
  font-family: Gilroy Bold;
}
.page-template-page-about .blue .text p {
  margin: 0;
  line-height: 26px;
}
.proccess {
  padding-top: 100px;
  position: relative;
}
.proccess:after {
  content: '';
  position: absolute;
  height: 60px;
  width: 4px;
  left: 48%;
  left: calc(50% - 2px);
  top: -30px;
  background-color: #ffcc2f;
}
.proccess h2 {
  margin-top: 0;
  font-size: 48px;
  font-family: Gilroy bold;
  color: #131621;
  text-align: center;
}
.p-item {
  text-align: center;
  position: relative;
}
.p-item .icon-wrap {
  border-radius: 50%;
  border: 1px solid #e3e3e3;
  height: 120px;
  width: 120px;
  line-height: 120px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.p-item:after {
  content: '';
  position: absolute;
  top: 50px;
  right: -8px;
  width: 26px;
  height: 15px;
  background-image: url(assets/images/NEXT.png);
}
.p-item:last-child:after {
  display: none;
}
@media (max-width: 992px) {
  .p-item {
    margin-bottom: 25px;
  }
}
.proccess + .tab-content {
  box-shadow: 0px 4px 40px 0px rgba(53, 53, 53, 0.1);
  margin-top: 120px;
  margin-bottom: -15%;
  z-index: 9;
  position: relative;
  background: #fff;
}
.proccess + .tab-content > div {
  display: none;
  transition: 0.3s;
  opacity: 0;
  line-height: 24px;
}
.proccess + .tab-content > div.active {
  display: block;
  opacity: 1;
  transition: 0.3s;
  overflow: hidden;
}
.fir {
  padding: 100px 80px;
  color: #131621;
}
.fir p {
  color: #a7a7a7;
}
@media (max-width: 767px) {
  .fir {
    padding: 25px 35px;
  }
}
.tab-title {
  font-family: Gilroy bold;
  font-size: 18px;
  color: #131621;
}
.grey {
  background-color: #e3e3e3;
  padding-top: 225px;
  padding-bottom: 120px;
}
.grey h1,
.grey h2,
.grey h3,
.grey h4,
.grey h5,
.grey strong {
  font-family: Gilroy Bold;
  color: #131520;
}
.grey h2 {
  margin: 0;
}
.grey .text {
  max-width: 700px;
  margin: 0 auto;
}
.grey .text p {
  margin: 0;
  line-height: 26px;
  font-size: 16px;
  color: #a7a7a7;
}
#companies {
  margin-top: 60px;
}
#companies .item {
  text-align: center;
  display: table;
  width: 100%;
  height: 60px;
}
#companies .item a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#companies .item img {
  max-height: 60px;
  width: auto;
  margin: 0 auto;
}
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video iframe {
  width: 100%;
  height: 100%;
}
.page-template-page-about-php .group .blue {
  padding-top: 20%;
}
.page-template-page-about-php .group .white {
  margin-bottom: -20%;
}
.page-template-page-about-php .img-area {
  min-height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}
