.cv-form {
  width: 100%;
}
.cv-form .field-error {
  color: #FDD5D5;
}
.cv-form .form-results{
    margin-bottom: 20px;
}
.cv-form .form-results .form-success,
.cv-form .form-results .form-error {
  padding: 15px;
}
.cv-form .form-results .form-success {
  border: 1px solid #B1D8B1;
  background: #C3E6C3;
}
.cv-form .form-results .form-error {
  border: 1px solid #F1C3C3;
  background: #FDD5D5;
}
.cv-form .form-field {
  display: block;
  width: 100%;
}
