
.contact-form {
  width: 100%;
  .field-error {
    color: #FDD5D5;
  }
  .form-results {
    .form-success, .form-error {
      padding: 15px;
    }
    .form-success {
      border: 1px solid #B1D8B1;
      background: #C3E6C3;
    }
    .form-error {
      border: 1px solid #F1C3C3;
      background: #FDD5D5;
    }
  }
  .form-field {
    display: block;
    width: 100%;
  }
}